body{
    margin: 0px;
}
.FullContainer{
    margin: 15px;
    padding: 10px;
}
.header{
   display: flex;
   justify-content: flex-start;
   align-items: center;
  gap: 35px;
   box-sizing: content-box; 
}
.header h2{
    background-color: black;
    color: white;
}
.Date{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    margin-top: 60px;
}
.ProgressDials{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;  /* or fixed */
    top: 30px;  /* positions the container at the top */
  right:15px

}
